@model HeBianGu.Product.Base.Model.ehc_dv_userlogger

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Start.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ehc_dv_userlogger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USERID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USERID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MESSAGE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MESSAGE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TIME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TIME)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
