@model HeBianGu.Product.Base.Model.jw_add_data

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Start.cshtml";
}

<h1>Details</h1>

<div>
    <h4>jw_add_data</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ORGID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ORGID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ORGNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ORGNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ORGTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ORGTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.REGIONCODE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.REGIONCODE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CDTOTAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CDTOTAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CYTOTAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CYTOTAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DBTOTAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DBTOTAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FILETOTAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FILETOTAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HYTENTOTAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HYTENTOTAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OLDTOTAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OLDTOTAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PERFECTOLDTOTAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PERFECTOLDTOTAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PERFECTTOTLE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PERFECTTOTLE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SPTOTAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SPTOTAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COUNT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COUNT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WOMANRATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WOMANRATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TNBRATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TNBRATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PKPRATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PKPRATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OLDMANRATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OLDMANRATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GXYRATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GXYRATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CMPRATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CMPRATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CHILDRATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CHILDRATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YEAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YEAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDATE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
