@model IEnumerable<HeBianGu.Product.Base.Model.ehc_dv_bed>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Start.cshtml";
}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2> 床位列表 <small>Monitor</small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li>
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="#">Settings 1</a>
							</li>
							<li>
								<a href="#">Settings 2</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="close-link"><i class="fa fa-close"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<p>
					<a asp-action="Create" class="btn btn-primary">新增床位</a>
				</p>

				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.CODE)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.NAME)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.CDATE)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.UDATE)
							</th>
							<th>
								操作
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.CODE)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.NAME)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.CDATE)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.UDATE)
								</td>
								<td>
									<form asp-action="Delete">
										@*<a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-success btn-xs">编辑</a> |
		<a asp-action="Details" asp-route-id="@item.ID" class="btn btn-warning  btn-xs">详情</a> |
		<input type="submit" asp-action="Delete" asp-route-id="@item.ID" value="删除" class="btn btn-danger  btn-xs" />*@
										<a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> 编辑 </a>
										<a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> 详情 </a>
										<button type="submit" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除 </button>
									</form>

								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


